{% extends "layout.html" %}

{% block body_content %}
    <h1 style="background-color: darkblue">
        <p style="color: darkred">
            <b>E-Liquid Tracker Homepage</b>
        </p>
    </h1>

    {% for eliquids in eliquids %}
        {% if current_user.user_id == eliquids.user_id %}
            <div>
                <h3><b>Brand name: </b> {{ eliquids.brand }}</h3>
                <p><b>Product name: </b> {{ eliquids.name }}</p>
                <p><b>Description:</b> {{ eliquids.description }}</p>
                <p><b>Flavours: </b>{{ eliquids.flavours }}</p>
            </div>
        {% endif %}
    {% endfor %}

{% endblock %}