{% extends "layout.html" %}

{% block body_content %}
    <h1 style="background-color: darkblue">
        <p style="color: darkred">
            <b>E-Liquid Tracker Homepage</b>
        </p>
    </h1>
    <h1> Hello  </h1>
<p>
    This is a website for track what eliquids you have tried,
    want to try and which ones you have liked or not liked.
</p>
<br>
<p>
    To get started just click the 'Register' link at the top of the page and sign up.
</p>
<br>
    <h2>Coming up</h2>
<p>
    In the near future we are hoping to add the functionality
    to suggest new eliquids to try based on what favours you already like.
    <br>
    We also want to add the ability to enter how long your liquids
    and coils last so you know when you will need to restock.

</p>
<h1>Happy Vaping!</h1>

{% endblock %}