{% extends "layout.html" %}

{% block body_content %}
    <h1 style="background-color: darkblue">
        <p style="color: red">
            <b>E-Liquid Tracker Homepage</b>
        </p>
    </h1>

    {% for post in eliquid %}
        <div>
            <h3><b>Brand name: </b> {{ eliquid.brand }}</h3>
            <p><b>Product name: </b> {{ eliquid.name }}</p>
            <p><b>Description:</b> {{ eliquid.description }}</p>
            <p><b>Flavours: </b>{{ eliquid.flavours }}</p>
        </div>
    {% endfor %}

{% endblock %}